[Unit]
Description=Supervisor process control system for UNIX
Documentation=http://supervisord.org
After=network.target

[Service]
ExecStart=<path to conda env>/bin/supervisord -n -c /etc/supervisor/supervisord.conf
ExecStop=<path to conda env>/bin/supervisorctl -c /etc/supervisor/supervisord.conf $OPTIONS shutdown
ExecReload=<path to conda env>/bin/supervisorctl -c /etc/supervisor/supervisord.conf $OPTIONS reload
KillMode=process
Restart=on-failure
RestartSec=50s

[Install]
WantedBy=multi-user.target