; Supervisor config file for program(s)
; copy this file into /etc/supervisor/conf.d/ folder

[program:<program name in supervisor>]
command=<executable path>
environment=PYTHONUNBUFFERED=1 ; let stdout logged in real time for python app
user=<user name>
autostart=true
autorestart=true
stdout_logfile=/etc/supervisor/logs/<program name>_out.log
stderr_logfile=/etc/supervisor/logs/<program name>_err.log
